@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Comfortaa, sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* ФОН НА ВСЁ ============================================================ */

.main-background {
    display: flex;
    position: relative;
    min-height: 100vh;
    height: auto;
    /* padding-bottom: 50px;    Убрал, чтобы не было прокрута*/ 
    width: 100%;
    --s: 200px;
    /* control the size */
    --c1: #242729;
    --c2: #3c3f41;
    --c3: #232526;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);
    background-attachment: fixed;
}

/* Убрал затемнение сверху */

/* ЛОГИН ФОРМА ============================================================ */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    width: 500px;
    position: relative;
    z-index: 1;
    max-width: 90%;
    background-color: transparent;
    padding: 40px;
    font-size: 22px;
    font-family: inherit;
    color: #bdbdbd;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    border-image: linear-gradient(90deg, #efb2b2, #60549d) 1;
    background: rgba(0, 0, 0, 0.1);
}

.form-container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    background: linear-gradient(90deg, #efb2b2, #60549d);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    z-index: 0;
}

.form-container:hover {
    filter: drop-shadow(0 0 8px rgba(239, 178, 178, 0.5)) drop-shadow(0 0 8px rgba(96, 84, 157, 0.5));
    color: #fffdfd;
    transition: 500ms;
}

.form-container button:active {
    scale: 0.95;
}

#login {
    margin-bottom:20px;
    font-size: 20px;
}

#password {
    margin-bottom: 40px;
    font-size: 20px;
}

.form-container .logo-container {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
}

.form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-container .form-group label {
    margin-bottom: 8px;
}

.form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: inherit;
    border: 3px solid #ccc;
}

.form-container .form-group input::placeholder {
    opacity: 0.5;
}

.form-container .form-group input:focus {
    outline: none;
    box-shadow: 1px 1px 13px #efb2b2, -1px -1px 13px #60549d;
    color: #6c6969;
    transition: 500ms;
}

.form-container .form-submit-btn {
    display: flex;
    gap: 15px;
    height: 50px;
    margin: 5px;
    /* width: 130px; */
    justify-content: center;
    cursor: pointer;
    align-items: center;
    font-family: Comfortaa, sans-serif;
    border: 3.5px solid transparent;
    background: linear-gradient(white, white) padding-box,
        linear-gradient(90deg, #efb2b2, #60549d) border-box;
    background-clip: padding-box, border-box;
    font-size: 20px;
    font-weight: 600;
    color: rgb(152, 151, 151);
    transition: 500ms;
    border-radius: 25px;
}

.form-container .form-submit-btn:hover {
    box-shadow: 1px 1px 13px #efb2b2, -1px -1px 13px #60549d;
    color: #6c6969;
    transition: 500ms;
}

.form-container .link {
    color: #1778f2;
    text-decoration: none;
}

.form-container .signup-link {
    align-self: center;
    font-weight: 500;
}

.form-container .signup-link .link {
    font-weight: 400;
}
